.generalContent {
  display: flex;
  justify-content: space-between;
  
}
.generalContentOpen {
  display: flex;
  justify-content: space-between;
}
.menu {
  max-width: 150px;
  max-height: 250px;
  background-color: transparent;
  border: none;
}

.logo {
  max-width: 150px;
  max-height: 250px;
}

.desplegado {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px 10px 10px 10px;
  top: 60px;
  left: 0;
  background-color: yellow;
  border:2px solid blue;
}

.selects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-size: large;
  height: 30px;
}
.button{
  margin: 10px;
  font-size: large;
  height: 30px;
  background-color: yellow;
  color: blue;
  border-radius: 10px;
  border: 2px solid blue;
  font-weight: bold;
}