.search {
  position: absolute;
  left: 65%;
  margin: 10px;
}
.inicio {
  margin: 10px;
  width: 120px;
  cursor: pointer;
  transition: all 2s ease;
}
.inicio:hover {
  transform: scale(1.1);
}
.contentButtons {
  display: flex;
  justify-content: space-between;
}
.content {
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
}
.Contentselects {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}
.menu {
  margin: 10px;
  background-color: rgb(255, 255, 106);
  border: solid white 2px;
  width: 30px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  transition: all 2s ease;
}
.menu:hover {
  transform: scale(1.1);
}
.button {
  background-color: white;
  border: solid black 2px;
  width: 150px;
  margin: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  transition: all 2s ease;
}
.button:hover {
  transform: scale(1.1);
}
.desplegado {
  border: 3px solid black;
  background-color: yellow;
  position: relative;
  top: 60px;
  left: 120px;
  height: 100%;
  width: 300px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.desplegado.open {
  transform: translateX(100px);
}
.selects {
  width: 250px;
  margin: 20px;
  background-color: white;
  border: solid black 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}
