.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  .loading {
    margin: auto;
    width: 250px;
    height: 250px;
  }
  
  .text {
    background-color: white;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius: 10px;
    border: solid 3px black;
    padding: 5px;
    margin: auto; 
  }
  
  @media (max-width: 1280px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .loading {
      background-color: red;
      margin: auto;
    }
  
    .text {
      background-color: white;
      text-align: center;
      width: 150px;
      height: 20px;
      border-radius: 10px;
      border: solid 3px black;
      padding: 5px;
      margin: auto;
    }
  }
  