.container {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
}
.text{
    width: 300px;
    height: 30px;
    margin: 7px 10px 0px 5px;
    border-radius: 10px;

}
.boton{
    width: 40px;
    height: 35px;
    margin: 7px 0px 0px 0px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    border: solid white 2px;
    background: linear-gradient(270deg, yellow, white);
    background-size: 200% 200%;
  
    transition: all 2s ease;
  }
  .boton:hover {
    background-position: -100% 0;
    transform: scale(1.1);
  }

  @media (max-width: 1250px){
    .container {
      width: 250px;
      height: 10px;
      display: flex;
      justify-content: center;
    }
 
  }