.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}

.button{
    position: relative;
    left: 43%;
    margin: 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    border: solid white 2px;
    background: linear-gradient(270deg, yellow, white);
    background-size: 200% 200%;
  
    transition: all 2s ease;
  }
  .button:hover {
    background-position: -100% 0;
    transform: scale(1.1);
  }